include ../bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ./common/vars
block variables

doctype html
html(lang="ru")

  head

    meta(charset="utf-8")
    title #{title}
    meta(content="", name="author")
    meta(content="", name="description")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="HandheldFriendly", content="true")
    meta(name="format-detection", content="telephone=no")
    meta(content="IE=edge", http-equiv="X-UA-Compatible")

    link(rel="shortcut icon", href="img/favicon/favicon.png", type="image/x-icon")
    link(rel="apple-touch-icon", href="img/favicon/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="img/favicon/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="img/favicon/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="144x144", href="img/favicon/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="img/favicon/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-touch-icon-180x180.png")

    link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro", rel="stylesheet")

    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
    <![endif]-->

    // build:css css/vendor.min.css
    link(rel="stylesheet", href="libs/slick-carousel/slick/slick.css")
    // endbuild

    // build:css css/main.min.css
    link(rel="stylesheet", href="css/app.css")
    // endbuild

  body

    <!--[if lt IE 8]>
    p(style="padding: 20px;")
      | Вы используете старую версию браузера.
      | Пожалуйста
      a(href='http://browsehappy.com/', style="padding: 0 5px; font-weight: bold; text-transform: uppercase; color: blue;") обновите ваш браузер
      | перейдя по ссылке.
    <![endif]-->

    block content

    // build:js js/vendor.min.js
    script(src="libs/jquery/dist/jquery.min.js")
    script(src="libs/slick-carousel/slick/slick.min.js")
    // endbuild

    // build:js js/main.min.js
    script(src="js/main.js")
    // endbuild

    script(defer='', src='https://use.fontawesome.com/releases/v5.0.10/js/all.js', integrity='sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+', crossorigin='anonymous')
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script.
      // map
      ymaps.ready(init);
      var myMap;

      function init() {
        myMap = new ymaps.Map("map", {
          center: [59.931632, 30.336528],
          zoom: 17
        });

        var myPlacemark = new ymaps.Placemark([59.931632, 30.336528], {}, {
          iconLayout: 'default#image',
          iconImageHref: '/img/map-mark.svg',
          iconImageSize: [50, 50],
          iconImageOffset: [-3, -42],
          hintContent: '',
          balloonContent: ''
        });

        myMap.geoObjects.add(myPlacemark);

        myMap.controls
          .remove('Button')
          .remove('fullscreenControl')
          .remove('typeSelector')
          .remove('geolocationControl')
          .remove('searchControl')
          .remove('trafficControl')
          .remove('rulerControl')
          .remove('zoomControl');

        myMap.behaviors.disable([
          'scrollZoom'
        ])
      }
