+b.FOOTER.footer
    +e.UL.list
        +e.LI.item
            +e.A.link(href="#") Как добавить событие
        +e.LI.item
            +e.A.link(href="#") Справка
        +e.LI.item
            +e.A.link(href="#") Найти друзей
    +e.SPAN.copyright &#169 GdeVse2017


