+b.HEADER.header
    +e.A.logo(href="/")
        +e.IMG.logo-img(src="img/logo.png")
    +e.FORM.form
        +e.I.input-icon.fas.fa-location-arrow
        +e.INPUT.input(type="text" placeholder="Москва, Воронеж, Таганрог...")
        +e.BUTTON.submit(type="submit")
            +e.I.button-icon.fas.fa-bullseye.fa-lg
    +e.DIV.client
        +e.I.bell.far.fa-bell.fa-lg
        +e.IMG.ava-img.ava(src="img/user.jpg")
