+b.DIV.main-menu
    +e.UL.nav
        +e.LI.nav-item.active
            +e.SPAN.nav-num 12
            +e.SPAN.nav-text События
        +e.LI.nav-item
            +e.SPAN.nav-num 7
            +e.SPAN.nav-text Диалоги
        +e.LI.nav-item
            +e.SPAN.nav-num 12
            +e.SPAN.nav-text Люди
    +e.DIV.container
        +e.DIV.item.active
            include ../common/all-events
        +e.DIV.item
            include ../common/dialogs
        +e.DIV.item
            include ../common/people


