-
    var cards  = [
        {
            "title": "Поход на Криминальное чтиво",
            "date": "6 апреля",
            "time": "12:15",
            "price": 300,
            "metro": "Маяковская",
            "street": "Невский проспект, 20",
            "img": "img/tarantino.jpg",
            "person": "img/user2.jpg",
            "name": "Сергей Воронин",
            "text": "Тарантино. Круто. Пойдемте в кино. Ура. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet corporis dolor dolore dolores fugiat itaque laboriosam nulla odit, praesentium vero."
        },
        {
            "title": "Прогулка по лесу",
            "date": "6 апреля",
            "time": "12:15",
            "price": 200,
            "metro": "Владимирская",
            "street": "Кузнечный проспект, 5",
            "img": "img/forest.jpg",
            "person": "img/user3.jpg",
            "name": "Ирина Павлова",
            "text": "Лес - это прекрасно. Палки, бревна... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet corporis dolor dolore dolores fugiat itaque laboriosam nulla odit, praesentium vero."
        },
        {
            "title": "Поход на Криминальное чтиво",
            "date": "6 апреля",
            "time": "12:15",
            "price": 300,
            "metro": "Маяковская",
            "street": "Невский проспект, 20",
            "img": "img/tarantino.jpg",
            "person": "img/user2.jpg",
            "name": "Сергей Воронин",
            "text": "Тарантино. Круто. Пойдемте в кино. Ура. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet corporis dolor dolore dolores fugiat itaque laboriosam nulla odit, praesentium vero."
        },
        {
            "title": "Прогулка по лесу",
            "date": "6 апреля",
            "time": "12:15",
            "price": 200,
            "metro": "Владимирская",
            "street": "Кузнечный проспект, 5",
            "img": "img/forest.jpg",
            "person": "img/user3.jpg",
            "name": "Ирина Павлова",
            "text": "Лес - это прекрасно. Палки, бревна... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet corporis dolor dolore dolores fugiat itaque laboriosam nulla odit, praesentium vero."
        },
        {
            "title": "Поход на Криминальное чтиво",
            "date": "6 апреля",
            "time": "12:15",
            "price": 300,
            "metro": "Маяковская",
            "street": "Невский проспект, 20",
            "img": "img/tarantino.jpg",
            "person": "img/user2.jpg",
            "name": "Сергей Воронин",
            "text": "Тарантино. Круто. Пойдемте в кино. Ура. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet corporis dolor dolore dolores fugiat itaque laboriosam nulla odit, praesentium vero."
        }
    ]
    var people = [
        {
            "img": "img/user.jpg",
            "name": "Анна"
        },
        {
            "img": "img/user.jpg",
            "name": "Анна"
        },
        {
            "img": "img/user.jpg",
            "name": "Анна"
        },
        {
            "img": "img/user.jpg",
            "name": "Анна"
        },
        {
            "img": "img/user.jpg",
            "name": "Анна"
        },
        {
            "img": "img/user.jpg",
            "name": "Анна"
        },
        {
            "img": "img/user.jpg",
            "name": "Анна"
        },
        {
            "img": "img/user.jpg",
            "name": "Анна"
        },
        {
            "img": "img/user.jpg",
            "name": "Анна"
        },
        {
            "img": "img/user.jpg",
            "name": "Анна"
        },
        {
            "img": "img/user.jpg",
            "name": "Анна"
        },
        {
            "img": "img/user.jpg",
            "name": "Анна"
        }
    ]
