// colors

$col-red: #E25451
$col-blue: #0782C3
$col-dark-blue: #056EA5
$col-green: #43A047
$col-bg-gray: #F4F5FC
$col-bg-gray: #c5c6cd
$col-font-gray: #5a5e78

// fonts

=london
  font-family: 'London', Helvetica, sans-serif

=code-font
  font-family: 'Source Code Pro', monospace
  font-weight: bold

=font-face($font-family, $file-path, $weight: normal, $style: normal)
  @font-face
    font-family: $font-family
    src: url('#{$file-path}.eot') format('eot'), url('#{$file-path}.otf') format('otf'), url('#{$file-path}.svg') format('svg'), url('#{$file-path}.ttf') format('ttf'), url('#{$file-path}.woff') format('woff')
    font-weight: $weight
    font-style: $style

+font-face('London', '../fonts/London-Medium', 400)







